In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('USA_cars_datasets.csv')

In [3]:
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [4]:
df.head(10)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,8,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left

In [5]:
df[:3]

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left

In [14]:
df[["price","brand","model","year"]].to_csv("databaru.csv", index=False)

In [16]:
database = pd.read_csv("databaru.csv")

In [11]:
database.head()

   Unnamed: 0  price      brand    model  year
0           0   6300     toyota  cruiser  2008
1           1   2899       ford       se  2011
2           2   5350      dodge      mpv  2018
3           3  25000       ford     door  2014
4           4  27700  chevrolet     1500  2018

In [21]:
#menggabungkan dua data
df_head = df.head()
df_tail = df.tail()

In [23]:
df_head

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [24]:
df_tail

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [26]:
df_concat = pd.concat([df_head,df_tail])
df_concat

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [29]:
#mereset index yg lama menjadi baru
df_concat = pd.concat([df_head,df_tail], ignore_index=True)
df_concat

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
6,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
7,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
8,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
9,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [30]:
#sorting data
df_concat.sort_values("year")

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
6,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
7,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
8,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
9,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left
5,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left

In [31]:
df_concat.sort_values("price", ascending=False)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
6,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
7,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
8,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
9,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left
5,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left

In [32]:
df_head =  df.iloc[2:7]
df_head

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left

In [33]:
df

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,8,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
10,10,10400,dodge,coupe,2009,clean vehicle,107856.0,orange,2b3lj54t49h509675,167753874,georgia,usa,22 hours left
11,11,12920,gmc,mpv,2017,clean vehicle,39650.0,white,1gks2bkc6hr136280,167692496,california,usa,20 hours left
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left
13,13,5430,chrysler,wagon,2017,clean vehicle,138650.0,gray,2c4rc1cg5hr616095,167656123,texas,usa,2 days left
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left
15,15,12710,gmc,door,2017,clean vehicle,25747.0,white,1gks2gkc6hr328389,167692497,california,usa,20 hours left
16,16,5200,kia,forte,2018,clean vehicle,46194.0,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left
17,17,16500,buick,encore,2018,clean vehicle,20002.0,red,kl4cj1sb6jb688844,167763275,tennessee,usa,22 hours left
18,18,5210,ford,mpv,2017,clean vehicle,35714.0,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
19,19,38100,ford,door,2013,clean vehicle,54380.0,gray,1ft8w3dt5deb68569,167753923,virginia,usa,22 hours left
20,20,12520,gmc,door,2017,clean vehicle,30114.0,white,1gks2gkcxhr328380,167692498,california,usa,20 hours left
21,21,7300,kia,forte,2018,clean vehicle,38823.0,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left
22,22,15000,chevrolet,door,2015,clean vehicle,61578.0,black,2gnflhe33f6214023,167763280,ohio,usa,2 days left
23,23,6180,ford,mpv,2017,clean vehicle,46010.0,blue,2fmpk3j84hbc09276,167656125,texas,usa,2 days left
24,24,20800,ford,door,2013,clean vehicle,105510.0,silver,1ftfw1efxdfa01008,167753937,virginia,usa,22 hours left
25,25,11900,gmc,door,2017,clean vehicle,28040.0,silver,1gks2gkc2hr327918,167692503,california,usa,20 hours left
26,26,21500,kia,sorento,2020,clean vehicle,11451.0,blue,5xypg4a59lg616029,167801828,north carolina,usa,2 days left
27,27,12000,buick,door,2014,clean vehicle,31039.0,brown,1g4ps5sk1e4188639,167763299,ohio,usa,2 days left
28,28,4190,ford,doors,2017,clean vehicle,44174.0,white,1fadp5auxhl109013,167656126,texas,usa,2 days left
29,29,13000,ford,chassis,2008,clean vehicle,93698.0,white,1fdwf37r28eb95687,167754098,tennessee,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,2469,13900,nissan,rogue,2018,clean vehicle,34547.0,white,knmat2mtxjp581687,167762118,florida,usa,21 hours left
2470,2470,3700,nissan,door,2015,clean vehicle,75858.0,silver,3n1ab7ap4fy228278,167762173,illinois,usa,2 days left
2471,2471,18800,nissan,pathfinder,2019,clean vehicle,31123.0,white,5n1dr2mn9kc620299,167717945,north carolina,usa,21 hours left
2472,2472,9200,nissan,versa,2018,clean vehicle,33808.0,black,3n1cn7ap3jl883781,167762207,florida,usa,2 days left
2473,2473,30100,nissan,titan,2019,clean vehicle,30599.0,black,1n6aa1e56kn519701,167718010,north carolina,usa,21 hours left
2474,2474,9200,nissan,versa,2018,clean vehicle,33931.0,black,3n1cn7ap5jl882616,167762208,florida,usa,2 days left
2475,2475,11100,nissan,sentra,2019,clean vehicle,40359.0,black,3n1ab7apxkl613545,167718011,north carolina,usa,21 hours left
2476,2476,13900,nissan,rogue,2018,clean vehicle,44313.0,white,knmat2mt8jp581980,167762209,florida,usa,21 hours left
2477,2477,9100,nissan,versa,2018,clean vehicle,33078.0,black,3n1cn7ap0jl882846,167762210,florida,usa,21 hours left
2478,2478,22800,nissan,frontier,2019,clean vehicle,24320.0,black,1n6ad0evxkn714086,167722343,illinois,usa,21 hours left
2479,2479,13900,nissan,rogue,2018,clean vehicle,42502.0,black,knmat2mt3jp582048,167762211,florida,usa,21 hours left
2480,2480,12600,nissan,altima,2019,clean vehicle,33497.0,gray,1n4bl4cv1kc171832,167722410,california,usa,1 days left
2481,2481,9200,nissan,versa,2018,clean vehicle,39577.0,silver,3n1cn7ap7jl883833,167762212,florida,usa,2 days left
2482,2482,12100,nissan,altima,2019,clean vehicle,36974.0,gray,1n4bl4cv8kc157345,167722413,california,usa,1 days left
2483,2483,9200,nissan,versa,2018,clean vehicle,41220.0,black,3n1cn7ap6jl883130,167762213,florida,usa,21 hours left
2484,2484,2300,nissan,frontier,2019,clean vehicle,1.0,silver,1n6ad0ev9kn786557,167722414,california,usa,1 days left
2485,2485,13900,nissan,rogue,2018,clean vehicle,41539.0,black,knmat2mt4jp581250,167762214,florida,usa,21 hours left
2486,2486,9500,nissan,sentra,2019,clean vehicle,19646.0,black,3n1ab7ap4ky350343,167722605,california,usa,1 days left
2487,2487,13900,nissan,rogue,2018,clean vehicle,39924.0,white,knmat2mt6jp582092,167762218,florida,usa,21 hours left
2488,2488,1700,nissan,note,2019,clean vehicle,33279.0,red,3n1ce2cp0kl363331,167722697,california,usa,1 days left
2489,2489,13900,nissan,rogue,2018,clean vehicle,40259.0,gray,knmat2mt9jp582734,167762219,florida,usa,21 hours left
2490,2490,10400,nissan,sentra,2019,clean vehicle,25264.0,blue,3n1ab7ap4ky323241,167722702,california,usa,1 days left
2491,2491,9200,nissan,versa,2018,clean vehicle,35677.0,black,3n1cn7ap7jl882312,167762221,florida,usa,21 hours left
2492,2492,7400,nissan,versa,2019,clean vehicle,35511.0,black,3n1cn7ap5kl841811,167722706,california,usa,1 days left
2493,2493,9200,nissan,versa,2018,clean vehicle,33027.0,black,3n1cn7ap0jl883768,167762224,florida,usa,21 hours left
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [35]:
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [36]:
df_concat.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [37]:
#drop kolom
databaru = df.drop(columns=["vin","lot","country"])
databaru

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,state,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,texas,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,georgia,22 hours left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,california,20 hours left
8,8,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,florida,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,texas,2 days left
10,10,10400,dodge,coupe,2009,clean vehicle,107856.0,orange,georgia,22 hours left
11,11,12920,gmc,mpv,2017,clean vehicle,39650.0,white,california,20 hours left
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,tennessee,22 hours left
13,13,5430,chrysler,wagon,2017,clean vehicle,138650.0,gray,texas,2 days left
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,virginia,22 hours left
15,15,12710,gmc,door,2017,clean vehicle,25747.0,white,california,20 hours left
16,16,5200,kia,forte,2018,clean vehicle,46194.0,blue,north carolina,2 days left
17,17,16500,buick,encore,2018,clean vehicle,20002.0,red,tennessee,22 hours left
18,18,5210,ford,mpv,2017,clean vehicle,35714.0,white,texas,2 days left
19,19,38100,ford,door,2013,clean vehicle,54380.0,gray,virginia,22 hours left
20,20,12520,gmc,door,2017,clean vehicle,30114.0,white,california,20 hours left
21,21,7300,kia,forte,2018,clean vehicle,38823.0,black,north carolina,2 days left
22,22,15000,chevrolet,door,2015,clean vehicle,61578.0,black,ohio,2 days left
23,23,6180,ford,mpv,2017,clean vehicle,46010.0,blue,texas,2 days left
24,24,20800,ford,door,2013,clean vehicle,105510.0,silver,virginia,22 hours left
25,25,11900,gmc,door,2017,clean vehicle,28040.0,silver,california,20 hours left
26,26,21500,kia,sorento,2020,clean vehicle,11451.0,blue,north carolina,2 days left
27,27,12000,buick,door,2014,clean vehicle,31039.0,brown,ohio,2 days left
28,28,4190,ford,doors,2017,clean vehicle,44174.0,white,texas,2 days left
29,29,13000,ford,chassis,2008,clean vehicle,93698.0,white,tennessee,22 hours left
...,...,...,...,...,...,...,...,...,...,...
2469,2469,13900,nissan,rogue,2018,clean vehicle,34547.0,white,florida,21 hours left
2470,2470,3700,nissan,door,2015,clean vehicle,75858.0,silver,illinois,2 days left
2471,2471,18800,nissan,pathfinder,2019,clean vehicle,31123.0,white,north carolina,21 hours left
2472,2472,9200,nissan,versa,2018,clean vehicle,33808.0,black,florida,2 days left
2473,2473,30100,nissan,titan,2019,clean vehicle,30599.0,black,north carolina,21 hours left
2474,2474,9200,nissan,versa,2018,clean vehicle,33931.0,black,florida,2 days left
2475,2475,11100,nissan,sentra,2019,clean vehicle,40359.0,black,north carolina,21 hours left
2476,2476,13900,nissan,rogue,2018,clean vehicle,44313.0,white,florida,21 hours left
2477,2477,9100,nissan,versa,2018,clean vehicle,33078.0,black,florida,21 hours left
2478,2478,22800,nissan,frontier,2019,clean vehicle,24320.0,black,illinois,21 hours left
2479,2479,13900,nissan,rogue,2018,clean vehicle,42502.0,black,florida,21 hours left
2480,2480,12600,nissan,altima,2019,clean vehicle,33497.0,gray,california,1 days left
2481,2481,9200,nissan,versa,2018,clean vehicle,39577.0,silver,florida,2 days left
2482,2482,12100,nissan,altima,2019,clean vehicle,36974.0,gray,california,1 days left
2483,2483,9200,nissan,versa,2018,clean vehicle,41220.0,black,florida,21 hours left
2484,2484,2300,nissan,frontier,2019,clean vehicle,1.0,silver,california,1 days left
2485,2485,13900,nissan,rogue,2018,clean vehicle,41539.0,black,florida,21 hours left
2486,2486,9500,nissan,sentra,2019,clean vehicle,19646.0,black,california,1 days left
2487,2487,13900,nissan,rogue,2018,clean vehicle,39924.0,white,florida,21 hours left
2488,2488,1700,nissan,note,2019,clean vehicle,33279.0,red,california,1 days left
2489,2489,13900,nissan,rogue,2018,clean vehicle,40259.0,gray,florida,21 hours left
2490,2490,10400,nissan,sentra,2019,clean vehicle,25264.0,blue,california,1 days left
2491,2491,9200,nissan,versa,2018,clean vehicle,35677.0,black,florida,21 hours left
2492,2492,7400,nissan,versa,2019,clean vehicle,35511.0,black,california,1 days left
2493,2493,9200,nissan,versa,2018,clean vehicle,33027.0,black,florida,21 hours left
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,california,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,florida,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,florida,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,florida,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,florida,21 hours left

In [40]:
#mengambil berdasarkan colomn
df_concat["country"]

0     usa
1     usa
2     usa
3     usa
4     usa
5     usa
6     usa
7     usa
8     usa
9     usa
Name: country, dtype: object

In [54]:
databaru.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,state,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,new jersey,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,tennessee,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,georgia,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,virginia,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,florida,22 hours left

In [62]:
databaru.dtypes

Unnamed: 0        int64
price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
state            object
condition        object
dtype: object

In [ ]:
databari